*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Playwrite DE Grund", cursive;
}

header {
  display: flex;
  flex-direction: column;
  min-height: 30vh;
  justify-content: center;
  align-items: center;
}

header h2 {
  padding: 2rem;
}

#logo {
  font-size: 3rem;
  text-decoration: none;
  color: black;
}

.search-form {
  padding: 2rem;
  display: flex;
}

.search-form input {
  font-size: 2rem;
  padding: 0.5rem 2rem;
  width: 100%;
  border: none;
  border: 2px solid rgb(74, 68, 131);
}

.search-btn {
  border: none;
  padding: 0.5rem;
  font-size: 1.1rem;
  background-color: rgb(74, 68, 131);
  color: white;
  cursor: pointer;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  padding: 2rem 0rem;
  width: 80%;
  margin: auto;
  gap: 2rem 2rem;
  overflow: hidden;
}

.gallery-img {
  overflow: hidden;
}

.gallery-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gallery-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: gray;
  padding: 0.5rem 0rem;
}

.gallery-info a {
  color: gray;
}

.gallery-info a:hover {
  color: black;
}

.nav-btn {
  min-height: 30vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.more {
  padding: 1rem 2rem;
  background-color: rgb(74, 68, 131);
  color: white;
  border: none;
  cursor: pointer;
}

@media (max-width: 320px) {
  .gallery {
    width: 90%;
    margin: auto;
    gap: 2rem 2rem;
  }

  .gallery-img img {
    width: 100%;
    height: 60vh;
    object-fit: cover;
  }
  .gallery-info {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: gray;
    padding: 0.5rem 0rem;
  }
}
